
/* General */
body {
	width:100%;
	height:100%;
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Muli', sans-serif;
	padding-bottom: 70px;
}

* {
	margin: 0px;
	padding: 0px;
}

#Datepickk .dp-header {
	background-color: #0f1e60;
}

#Datepickk .dp-week {
	background-color: #AC0114;
}



.swal-button {
  background-color: #AC0114 !important;
}

.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}

/* Login / Register */
.header {
	width: 30%;
	margin: 50px auto 0px;
	color: #AC0114;
	background: white;
	text-align: center;
	border: 1px solid #AC0114;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.form-style, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #AC0114;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	color: white;
	background: #AC0114;
	border: none;
	border-radius: 5px;

    display:block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-align: center;
	 text-decoration: none;
}

.btn-blue {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	color: white;
	background: #0f1e60;
	border: none;
	border-radius: 5px;

    display:block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-align: center;
	text-decoration: none;
}

.btn-blue:hover {
	background-color: #AC0114;
	color: white;
	text-decoration: none;
}
.btn-blue:active {
	background-color: #0f1e60;
	color: white;
	text-decoration: none;
}
.btn:hover {
	background-color: #0f1e60;
	color: white;
	text-decoration: none;
}
.btn:active {
	background-color: #0f1e60;
	color: white;
	text-decoration: none;
}


p {
	padding: 10px;
	font-size: 12px;
}

.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: center;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
	text-align: center;
}



/* Dashboard */

.nav-red {
	background-color: #AC0114;
}

.span-bold {
	font-weight: bold;
}

#calendar {
	min-height: 900px;
	height: 900px;
}

.table .thead-blue th {
	color: #fff;
	background-color: #0f1e60;
    border-color: #0f1e60;
}

/* Bands */

#bands_select {
	margin-top: 15px;
}

/* Appointments */
.old-appointment {
	color: #00000080;
    background-color: #d6d0d03d;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #AC0114;
  color: white;
  text-align: center;
	z-index:100;
}