* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Muli', sans-serif;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: #AC0114;
	background: white;
	text-align: center;
	border: 1px solid #AC0114;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #AC0114;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #AC0114;
	border: none;
	border-radius: 5px;
	margin:0 auto;
    display:block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-align: center;
}

.btn:hover {
	background-color: #86111e;
}
.btn:active {
	background-color: #4a0a11;
}


p {
	padding: 10px;
	font-size: 12px;
}

.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: center;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
	text-align: center;
}

.footer {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-top: 1px solid #AC0114;
  color: #AC0114;

  
}


